.env
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
testing.py
test.jsonl
AICloud_wDB.py
cloud_function_test.py
AICloud_old.py
AiFunction/embeddings.csv

# Byte-compiled / optimized / DLL files
cogs/__pycache__/
*.py[cod]
*$py.class